<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to 'Kevin Schaffter', root_path %></h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link sliding-middle-out', 'span' %>
      <%= login_helper 'nav-link sliding-middle-out' %>
    </nav>
  </div>
</div>