<!-- <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar nav-masthead">
    <div class="container">
        <%= link_to "Kevin Schaffter", root_path, class: "navbar-brand masthead-brand" %> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <div class="navbar-nav mr-auto">
              <%= link_to "About me", about_me_path, class: 'nav-link nav-item', 'data-toggle': 'modal', 'data-target': '#aboutModal' %>
              <%= link_to "Portfolio", portfolios_path, class: "nav-link nav-item" %>
              <%= link_to "Contact", contact_path, class: "nav-link nav-item" %>
            </div>
            <form class="form-inline">
                
            </form>
        </div>
    </div>
</nav> -->