<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Every client's need is different which is why.... </p>
    <p>
      <%= link_to "Learn More About me", about_me_path, class: 'btn btn-primary' %>
      <%= link_to "Lets Work Together", contact_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>