<div class="home-container">

  <div class="inner cover">
    <h1 class="cover-heading animated fadeInUp home-header">Hi, I'm Kevin.</h1>
    <p class="lead animated fadeInUp home-subtitle">I Build <span class="element"></span></p>
    <hr align="left" class="home-hr lead animated fadeInUp">
    <p class="lead animated fadeInUp home-text">Miami based full-stack developer</p>
    <p class="lead animated fadeInUp">

      <%= link_to "About me", about_me_path, class: 'btn btn-outline home-btn shadow-text', 'data-toggle': 'modal', 'data-target': '#aboutModal' %>
      <%= link_to "Portfolio", portfolios_path, class: 'btn btn-outline portfolio-btn shadow-text' %>

    </p>
  </div>

  <div class="right-photo">
    <div class="contact"><p><%= link_to 'CONTACT', contact_path %><p></div>
  </div>

</div>
