<div class="inner cover">
  <h1 class="cover-heading animated fadeInUp home-header shadow-text">&lsaquo;Welcome/&rsaquo;</h1>
  <p class="lead animated fadeInUp home-subtitle shadow-text">Exceeding Expections Through Beautiful &amp; Clean Web Design </p>
  <hr class="home-hr lead animated fadeInUp shadow-text">
  <p class="lead animated fadeInUp home-text shadow-text">Miami based full-stack web developer available for hire</p>
  <p class="lead animated fadeInUp">
    <%= link_to "About Me", about_me_path, class: "btn btn-md btn-info home-btn" %>
  </p>
</div>
