<div class="inner cover">
  <h1 class="cover-heading animated fadeInUp">&lsaquo;Welcome/&rsaquo;</h1>
  <p class="lead animated fadeInUp">I am driven by exceeding expections through beautiful and clean web design </p>
  <hr class="homepage-hr">
  <p class="lead animated fadeInUp"> Miami based full stack web developer available for hire </p>
  <p class="lead animated fadeInUp">
    <%= link_to "About Me", about_me_path, class: "btn btn-md btn-secondary home-button" %>
  </p>
</div>
