<div class="inner cover">
  <h1 class="cover-heading animated fadeInUp">Welcome.</h1>
  <p class="lead animated fadeInUp">I am driven by finding... </p>
  <p class="lead animated fadeInUp">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
