@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn {
  cursor: pointer;
}


.contact-btn > a {
  color: #fff !important;
}


/*
 * Base structure
 */


html,
body {
  height: 100%;
  font-family: "Open Sans", sans serif;
}

body {
  color: #fff;
  text-align: center;
  font-size: 1.03em;
  
}

.shadow-text {
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 600;
  font-size: 15px;
  color: rgba(255,255,255,.8);
  background-color: transparent;

  font-family: 'Open Sans';
  text-transform: uppercase;
}

.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  color: #ea995d;

}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: #ea995d;
  color: #ea995d;
  transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
  width: 100%;
  background: #ea995d !important;
  color: #ea995d;
  height: 5px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #ea995d;
  color: #fff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
  z-index: -1;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 70rem;
  }
}

/* Custom Styles */
  .card-body {
    color: black;
    text-align: left;
  }

  .auth-links a {
    color: black;
  }

  .register-text {
    text-align: right;
  }

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.masthead-brand a:hover {
  text-decoration: none;
}

#background {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX (0%) translateY(0%);
  transform: translateX (0%) translateY(0%);
  background-size: cover;
}

.app-footer {
  color: white;
  font-size: 13.5px;
}

@include media-breakpoint-up(lg) {
  .app-footer {
    font-size: 16px;
  }
}


.tech-news {
  color: black;
  margin: 20px;
}

.tech-news a {
  color: green;
}

.tech-news > .card {
  padding: 30px;
  opacity: 0.75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  padding: 38px;
  padding-bottom: 30px;
  margin-bottom: 10%;
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic {
  margin-top: 11px;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px
}

.app-card-container a {
  color: #5891cd;
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 7px 5px 7px;
  background: rgba(83, 145, 221, 0.04);
  box-shadow: 0 0.1px 0.2px 0 rgba(0, 0, 0, 0.2), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.19);

}

.card-block p {
  margin-bottom: 0px;
}

.button-spacing {
  margin-left: 12px;
}

.skill {
  margin-top: 15px;
  margin-bottom: 10px;
}


/* Homepage */

.home-hr {
  background: white;
  width: 40%;
}


.home-btn {
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1;
  text-shadow: none;
  padding: 12px; 
  background: rgba(239, 156, 83, 0.85);
  border: none;
}

.home-btn:hover {
  background: rgba(239, 156, 83, 1);
}


.home-hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.home-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.home-header {
  font-size: 2.7em;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .home-header {
    font-size: 3em;
  }
}

@include media-breakpoint-up(md) {
  .home-header {
    font-size: 3.2em;
  }
}

@include media-breakpoint-up(lg) {
  .home-header {
    font-size: 3.4em;
  }
}


.home-subtitle {
  font-family: Montserrat;
  font-size: 1.5em;
  text-align: left;
  margin-left: 32.5%;
}

@include media-breakpoint-up(sm) {
  .home-subtitle {
    font-size: 1.55em;
    text-align: left;
    margin-left: 32.5%;
  }
}

@include media-breakpoint-up(md) {
  .home-subtitle {
    font-size: 1.6em;
    margin-left: 32.5%;
  }
}

@include media-breakpoint-up(lg) {
  .home-subtitle {
    font-size: 1.8em;
    margin-left: 32.5%;
  }
}

.home-text {
  font-size: 17px;
  font-weight: 400px;
  font-family: 'Open Sans';
}

@include media-breakpoint-up(sm) {
  .home-text {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  .home-text {
    font-size: 17px;
  }
}

@include media-breakpoint-up(lg) {
  .home-text {
    font-size: 19px;
  }
}


/* About Page */

.image-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview-text {
  font-size: 42px;
  margin-bottom: 26px;
  font-family: 'Montserrat';
  color: rgb(78, 141, 225);
}

.card-block span {
  font-weight: 600;
}

.about-btn {
  background-color: rgba(239, 156, 83, 1);
  border: 0px;
  margin-right: 10px;
}

.about-btn:hover {
  background-color: rgba(239, 156, 83, .85);
}

.about-btn a {
 color: #fff;
}

.about-btn a:hover {
 color: #fff;
 text-decoration: none;
}

@media (max-width: 447px) {
  .about-btn:last-child {
    margin-top: 16px;
    width: 98px;
  }
}

.skill h5 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 16px;
}

.school-logo {
  margin-right: 7px;
  margin-bottom: 2px;
}

.courses {
  margin-bottom: 5px;
}

/* Tech News */

.tech-title {
  margin-bottom: 7%;
  margin-top: 10%;
}

@media (max-width: 375px) {
  .tech-title {
    font-size: 30px;
  }
}

/* Contact Page */

.contact-heading {
  color: #5391dd;
}

.contact-sub {
  font-family: Montserrat;
  font-size: 16px;
}

.contact-info {
  color: #364a5d;
}

