@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', serif;
}

body p {
  font-family: 'Open Sans';
}

li {
  text-align: left;
}

.navbar {
  margin-bottom: 0;
}

.bg-dark {
  background-color: #34495e !important;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 600;
  color: #34495e;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  -align: center;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom Styles */

.portfolio-container {
  padding-top: 30px;
}

.btn-primary {
  background-color: rgba(78, 141, 225, 1);
  border: 0px;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: rgba(78, 141, 225, 0.9);
}

.tech-used {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.portfolio-container > h1 {
  color: #2c3b3f;
  text-align: left;
}
