@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', serif;
}

body p {
  font-family: 'Open Sans';
  font-size: 1.03em;
}

li {
  text-align: left;
}

.navbar {
  margin-bottom: 0;
}


.navbar:not(.top-nav-collapse) {
    background: #34495e !important;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 600;
  color: #34495e;
  margin-bottom: 20px;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 14px;
  -align: center;
  margin-top: 12px;
}

.card-text span {
  font-weight: 600;
  color: gray;
  font-size: 15px;
}

.card-text {
  color: gray;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.portfolio-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.portfolio-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Custom Styles */

.portfolio-container {
  padding-top: 30px;
}

.btn-primary {
  background-color: rgba(78, 141, 225, 1);
  border: 0px;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: rgba(78, 141, 225, 0.9);
}

.tech-used {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  color: #354c5d;
  margin-left: 3px;
  margin-top: 22px;
}

.portfolio-container {
  text-align: left;
}

.portfolio-title {
  color: #364a5d !important;
}

.tech-used ~ li {
  margin-bottom: 17px;
  margin-top: 15px;
}

.url-btn {
  margin-bottom: 25px;
  width: 54%;
  background-color: rgba(239, 156, 83, 1);
}

.url-btn:hover {
  background: rgba(239, 156, 83, 0.85);
}

@media (max-width: 430px) {
  .btn {
    margin-right: 0px;
    margin-top: 10px;
  }
}

.list-group-item {
  font-weight: 600;
  width: 55%;
  padding: 0.8rem 1.2rem;
  border-radius: 40px !important;
  text-align: center;
}

.list-group-item:last-child {
  font-weight: 600;
  width: 55%;
  padding: 0.8rem 1.2rem;
  border-radius: 40px !important;
  text-align: center;
}

/* MODAL */

.modal-body {
  padding: 33px;
}

.modal-header {
  padding: 10px;
}

.close-btn {
  margin-right: 10px;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 1000px;
    margin: 30px auto;
  }
}

/* About Page */

.image-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview-text {
  font-size: 42px;
  margin-bottom: 26px;
  font-family: 'Montserrat';
  color: rgb(78, 141, 225);
}

.card-block span {
  font-weight: 600;
}

.about-btn {
  background-color: rgba(239, 156, 83, 1);
  border: 0px;
  margin-right: 10px;
}

.about-btn:hover {
  background-color: rgba(239, 156, 83, .85);
}

.about-btn a {
 color: #fff;
}

.about-btn a:hover {
 color: #fff;
 text-decoration: none;
}

@media (max-width: 447px) {
  .about-btn:last-child {
    margin-top: 16px;
    width: 98px;
  }
}

.skill h5 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 16px;
}

.school-logo {
  margin-right: 7px;
  margin-bottom: 2px;
}

.courses {
  margin-bottom: 5px;
}

/* MODAL */

.modal-body {
  padding: 33px;
}

.modal-header {
  padding: 10px;
}

.close-btn {
  margin-right: 10px;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 1000px;
    margin: 30px auto;
  }
}